.container {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  justify-items: center;
  place-items: center;
}

.title {
  margin: 0;
  margin-top: 10px;
  line-height: 1.15;
  font-size: 2rem;
}

.summary {
  width: 60%;
}

.contactsContainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  place-content: center;
  place-items: center;
}

.headerLink:link {
  color: white;
  text-decoration: underline;
}

.headerLink:visited {
  color: white;
  text-decoration: underline;
}

.headerLink:hover {
  text-decoration: underline;
  text-decoration: white;
}

.headerLink:active {
  text-decoration: underline;
  text-decoration: white;
}

.socialTextLink {
  margin: 0;
}

.socialIconLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
