.container {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  justify-items: center;
  place-items: center;
}

.summary {
  width: 60%;
}

.contactsContainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  place-items: center;
}

.socialTextLink {
  margin: 0;
}

.socialIconLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  transition: filter 300ms;
  transition: all var(--speed) ease;
}

.socialIconLink:hover {
  filter: brightness(1.2);
}

.contactText {
  text-align: center;
  width: clamp(80%, 60vw, 60%);
}

.patreonIcon {
  height: 30px;
  padding: 3px;
}
