.container {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  /* width: 80%; */
  margin: 0 auto;
  justify-items: center;
  place-items: center;
}

.title {
  margin: 0;
  margin-top: 10px;
  line-height: 1.15;
  font-size: 2rem;
}

.headerLink:link {
  color: white;
  text-decoration: white;
  text-decoration: underline;
}

.headerLink:visited {
  color: white;
  text-decoration: white;
  text-decoration: underline;
}

.headerLink:hover {
  text-decoration: underline;
  text-decoration: white;
}

.headerLink:active {
  text-decoration: underline;
  text-decoration: white;
}

.bookButton {
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 25px;
  padding: 12px 45px;
  margin: 15px 0;
  cursor: pointer;
  color: #030e3a;
}

.creation {
  display: flex;
  flex-direction: column;
  justify-items: center;
  place-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
