@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap");

.header {
  height: 80px;
  padding: 30px 0 20px 0;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  /* font-family: "Kaushan Script", cursive; */
  font-family: "Playfair Display", serif;
  font-weight: 800;
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 3rem;
  color: #ffffff;
}

.logo {
  height: 50px;
}

.navigationContainer {
  display: flex;
  align-items: center;
  padding-inline-start: none;
  padding: 0;
  margin: 0;
}

.link {
  list-style-type: none;
  font-size: 22px;
}

.link + .link {
  padding-left: 15px;
}

a:link {
  color: #9dcbbb;
  text-decoration: none;
}

a:visited {
  color: #68a691;
  text-decoration: none;
}

a:hover {
  color: #1ea276;
}

a:active {
  color: #1ea276;
}

@media (min-width: 600px) {
  .title {
    font-size: 4rem !important;
  }
}
