.homeContainer {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 7rem;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-size: clamp(2rem, 6vw, 3rem);
  font-weight: 900;
  color: #ffffff;
  text-align: center;

  background-color: red;
  background-image: linear-gradient(
    90deg,
    var(--tapestry),
    var(--light-yellow),
    var(--light-white)
  );

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.logo {
  height: 1em;
}

.postLigthTheme {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 1px 1px 2px 0px rgba(131, 131, 131, 0.75);
  transition: all 150ms ease-in-out;
}

.postLigthTheme:hover {
  top: -3px;
  left: -3px;
  box-shadow: 3px 3px 15px 0px rgba(116, 115, 115, 0.85);
}

.postLightThemeTitle {
}

.postLightThemeText {
  color: #68a691;
  padding: 10px;
  text-align: center;
}
