.homeContainer {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
}

.description {
  line-height: 1.5;
  font-size: 1rem;
  color: #ffffff;
}

.logo {
  height: 1em;
}

.socialMediaContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.socialIconLink + .socialIconLink {
  padding-left: 5px;
}

.socialIcon {
  color: black;
  transition: color 0.15s ease;
}

.socialIcon:hover,
.socialIcon:focus,
.socialIcon:active {
  color: #4d4d4d;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
