.navigation_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline-start: none;
  margin: 0;
  padding-bottom: 15px;
}

.link {
  list-style-type: none;
}

.link + .link {
  padding-left: 15px;
}

a:link {
  color: #68a691;
  text-decoration: none;
}

a:visited {
  color: #68a691;
  text-decoration: none;
}

a:hover {
  color: #1ea276;
}

a:active {
  color: #1ea276;
}
