@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;500;700&display=swap");

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-opac);
  color: var(--light-white);
}

:root {
  --dark-blue-zodiac: #181123;
  --blue-zodiac-2: #0b124d;
  --blue-zodiac-1: #141f59;
  --dark-blue: #0e163f;
  --tapestry: #b868aa;
  --butterly-blush: #734fa0;
  --light-yellow: #f5f093;
  --light-white: #fffeef;
  --bg: #0e163f;
  --bg-opac: rgba(14, 22, 63, 1);
  --bg-opac-bg: rgba(14, 22, 63, 1);
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #141f59;
  --border-radius: 8px;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

/* <nav> */
.navbar {
  position: sticky;
  top: 0;
  height: var(--nav-size);
  background-color: var(--blue-zodiac-2);
  padding: 0 1rem;
  border-bottom: var(--border);
  margin-bottom: 20px;
  z-index: 99999 !important;
}

/* <ul> */
.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  /* justify-content: flex-end; */
}

.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #141f59;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  margin-right: 7px;
  transition: filter 300ms;
  transition: all var(--speed) ease;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg-opac-bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;

  transition: height var(--speed) ease;
}

.menu-item {
  display: flex;
  height: 50px;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item:hover {
  background-color: #141f59;
}

.icon-right {
  margin-left: auto;
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit {
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

.container-default {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  justify-items: center;
  place-items: center;
}

.img {
  width: 100%;
  height: 200vh;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  max-height: 500px;
}

.paragraph-default {
  width: 80%;
  line-height: 1.5rem;
}

.header-1-default {
  font-family: "Kaisei HarunoUmi", serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.15;
  background-color: red;
  background-image: linear-gradient(
    90deg,
    var(--tapestry),
    var(--light-yellow),
    var(--light-white)
  );
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.header-2-default {
  font-family: "Kaisei HarunoUmi", serif;
  font-size: 2rem;
  font-weight: 400;
}

.button-default {
  font-size: 1rem;
  padding: 12px 60px;
  outline: none;
  border: none;
  color: #fff;
  background-color: #141f59;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  text-transform: uppercase;
}

.button-default:hover {
  filter: brightness(1.2);
}

.button-default:active {
  filter: brightness(0.8);
}

.button-default:focus {
  filter: brightness(0.8);
}

.header-link-default:link {
  text-decoration: none;
}

.title {
  margin-top: 7rem;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-size: clamp(2rem, 6vw, 3rem);
  font-weight: 900;
  color: #ffffff;
  text-align: center;

  background-color: red;
  background-image: linear-gradient(
    90deg,
    var(--tapestry),
    var(--light-yellow),
    var(--light-white)
  );

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
